nav{
    margin: 5rem;
}
nav a{
    margin: 15px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
    
    

    color: rgb(250, 246, 246);
    font-size: 15px;
    background-color: black;
    padding: 1rem;
    text-decoration: none;
    
}
body {
    background-color: rgb(6, 2, 2);
}
header{
    text-align: center;
 }